IceGrid.InstanceName=DemoIceGrid-grpmcc

IceGrid.Registry.Client.Endpoints=default -h 10.147.17.101 -p 4071:default -h 10.147.17.101 -p 4072:default -h 10.147.17.101 -p 4073

IceGrid.Registry.Server.Endpoints=default -h 10.147.17.101
IceGrid.Registry.Internal.Endpoints=default -h 10.147.17.101

IceGrid.Registry.LMDB.Path=/opt/swarch/grpmcc/central/config/db/registry

Ice.ThreadPool.Server.Size=50
Ice.ThreadPool.Server.SizeMax=200
Ice.ThreadPool.Server.SizeWarn=150
Ice.ThreadPool.Server.ThreadIdleTime=30

Ice.ThreadPool.Client.Size=10
Ice.ThreadPool.Client.SizeMax=50

Ice.Connection.IdleTimeout=300
Ice.ACM.Heartbeat=3
Ice.ACM.Timeout=60

Ice.MessageSizeMax=16777216
Ice.UDP.RcvSize=262144
Ice.UDP.SndSize=262144

Ice.Trace.ThreadPool=1
Ice.Trace.Network=1
Ice.Trace.Protocol=0

Ice.GC.Interval=0

IceGrid.Registry.PermissionsVerifier=DemoIceGrid-grpmcc/NullPermissionsVerifier
IceGrid.Registry.AdminPermissionsVerifier=DemoIceGrid-grpmcc/NullPermissionsVerifier
IceGrid.Registry.Discovery.Interface=10.147.17.101

IceGrid.Registry.DefaultTemplates=0
IceGrid.Registry.DynamicRegistration=1