Ice.Default.Locator=DemoIceGrid-grpmcc/Locator:default -h 10.147.17.101 -p 4071:default -h 10.147.17.101 -p 4072:default -h 10.147.17.101 -p 4073

IceGrid.Node.Name=node1-grpmcc
IceGrid.Node.Endpoints=default -h 10.147.17.120 -p 4081
IceGrid.Node.Data=/opt/swarch/grpmcc/node1/config/db/node1

Ice.ThreadPool.Server.Size=50
Ice.ThreadPool.Server.SizeMax=200
Ice.ThreadPool.Server.SizeWarn=150
Ice.ThreadPool.Server.ThreadIdleTime=60

Ice.ThreadPool.Client.Size=20
Ice.ThreadPool.Client.SizeMax=100

IceGrid.Node.PrintServersReady=1
IceGrid.Node.WaitTime=30
IceGrid.Node.DeactivationTimeout=60

Ice.Connection.IdleTimeout=300
Ice.ACM.Heartbeat=3
Ice.Override.Timeout=10000
Ice.RetryIntervals=-1

Ice.MessageSizeMax=16777216
Ice.UDP.RcvSize=262144
Ice.UDP.SndSize=262144

Ice.Trace.ThreadPool=1
Ice.Trace.Network=0
Ice.Trace.Protocol=0
Ice.Warn.Connections=0

Ice.Default.Package=com.zeroc.demos.IceGrid.simple